{% extends 'memberbase.htm.twig' %}

{% block title %}Account Page{% endblock %}

{% block body %}

<div class='row mt-3'>
    <h1 class='mx-auto'>{{ target_name }}'s profile</h1>
</div>

<div class='row mt-3'>
    <img class='mx-auto' src='' alt='Profile Picture'>
</div>

<div>
    <ul>
        <li>Pseudo: {{ name }}</li>
        <li>Mail: {{ email }}</li>
        <li>City: {{ city }}</li>
        <li>Birth date: {{ dob }}</li>
    </ul>
</div>

{% endblock %}

{% block javascript %}
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src='js/forms.js'></script>
  <script src='js/profile.js'></script> -->
{% endblock %}
