{% extends 'memberbase.htm.twig' %}

{% block title %}Account Page{% endblock %}

{% block body %}

<div class='row mt-3'>
    <h1 class='mx-auto'>{{ target_name }}'s profile</h1>
</div>

<div class='row mt-3'>
  {% if VARIABLE == TRUE %}
    <img id='profilepic' class='d-flex mx-auto mw-100 mb-3' src='{{ PATH_TO_IMAGE }}' alt='Profile picture'>
  {% else %}
    <img class='d-flex mx-auto' src='https://www.flynz.co.nz/wp-content/uploads/profile-placeholder.png' alt='Your future profile picture' width='600px' height='600px'>
  {% endif %}
</div>

<table class='table col-6 mt-5 mx-auto'>
    <tr>
        <th scope='col'>Pseudo</th>
        <th scope='col'>City</th>
        <th scope='col'>Birth date</th>
    </tr>
    <tr class='table-info'>
        <td>{{ name }}</td>
        <td>{{ city }}</td>
        <td>{{ dob }}</td>
    </tr>
</table>

<div class='row col-6 justify-content-between mx-auto mb-5'>
    <button class='btn btn-success' id='follow'>Follow</button>
    <button class='btn btn-success text-right' id'talk'>Send a message</button>
</div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src='js/url.js'></script>
    <script src='js/profile.js'></script>
{% endblock %}
