{% extends 'memberbase.htm.twig' %}

{% block title %}Account Page{% endblock %}

{% block body %}

  <div class='row mt-3'>
    <h1 class='mx-auto'>{{ account_name }}'s profile</h1>
  </div>

<div class='row mt-3'>
  <img class='mx-auto' src='' alt='Your Profile Picture'>
</div>

  <form id='uploadimg' class='col-4 mx-auto mt-3'>
    <input id='file' type='file' name='upload'>
    <input id='submitupload' class='float-right' type='submit' name='submitupload' value='Change image'>
  </form>

  <form id='modifyinfo' class='col-6 mx-auto'>
    <input id='info-email' class='mt-3 form-control' type='email' name='email' value='{{ email }}'>
    <input id='info-name' class='mt-3 form-control' type='text' name='profilename' value='{{ name }}'>
    <input id='info-city' class='mt-3 form-control' type='text' name='city' value='{{ city }}'>
    <input id='info-dob' class='mt-3 form-control' type='date' name='email' value='{{ dob }}'>
    <input id='info-oldpwd' class='mt-3 form-control' type='password' name='pwd' placeholder='Old password'>
    <input id='info-pwd' class='mt-3 form-control' type='password' name='pwd' placeholder='Password'>
    <input id='info-checkpwd' class='mt-3 form-control' type='password' name='pwd' placeholder='Password'>
    <input id='submitinfo' class='mt-3 mx-auto' type='submit' name='submit' value='Change Infos'>
  </form>

<ul class='list-group d-inline-block'>
  <li class='list-group-item active'>You follow :</li>
</ul>

<ul class='list-group d-inline-block'>
  <li class='list-group-item'>They follow you :</li>
</ul>
{% endblock %}

{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src='js/forms.js'></script>
  <script src='js/profile.js'></script>
{% endblock %}
