{% extends 'memberbase.htm.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

  <section class='row col-8 mx-auto no-gutters'>

    <h1>Searching something ?</h1>
        
    <ul class='col-6'>
      {% for tweet in hashtags %}
        {% 
          include('tweet.htm.twig') with 
          {
            'author': tweet.author,
            'submit_time': tweet.submit_time,
            'author_account': tweet.author_account,
            'content': tweet.content
          }
        %}
      {% endfor %}
    </ul>
    
    <ul class='col-6'>
      <table class='table col-6 mt-5 mx-auto'>
        <tr>
            <th scope='col'>Pseudo</th>
            <th scope='col'>City</th>
            <th scope='col'>Birth date</th>
        </tr>
        {% for member in members %}
          <tr class='table-info'>
            <td><a href='profile.php?account={{ member.account_name }}'>@{{ member.account_name }}</a></td>
            <td>{{ member.pseudo }}</td>
            <td>{{ member.city }}</td>
            <td>{{ member.birth_date }}</td>
        </tr>
        {% endfor %} 
      </table>
      
    </ul>
  </section>

{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src='js/tweet.js'></script>
{% endblock %}
