{% extends 'memberbase.htm.twig' %}

{% block title %}Account Page{% endblock %}

{% block body %}

  <div class='row no-gutters mt-3'>
    <h1 class='mx-auto'>{{ account_name }}</h1>
  </div>

<div class='row no-gutters mt-3'>
  <img class='mx-auto' src='' alt='Your Profile Picture'>
</div>

<div class='row no-gutters col-12'>

  <div class='card col-3 border-info mb-3'>
    <div class='card-header'>You follow them</div>
    <div class='card-body'>
      {% for following in followings %}
        <p class='card-text'><a class='text-info' href='profile.php?account={{ following.username }}'>@{{ following.username }}</a></p>
      {% endfor %}
    </div>
  </div>

  <div class='col-6'>
    <form id='upload' class='mr-3 ml-3' enctype='multipart/form-data'>
      {% if profile_picture == TRUE %}
        <img id='profilepic' src='{{ profile_picture }}' alt='Profile picture'>
      {% else %}
        <img class='d-flex mx-auto' src='https://www.flynz.co.nz/wp-content/uploads/profile-placeholder.png' alt='Your future profile picture' width='600px' height='600px'>
      {% endif %}
      <input id='upload-file' class='' type='file' name='upload'>
      <input id='upload-submit' class='float-right' type='submit' name='submitupload' value='Change image'>
    </form>

    <form id='modifyinfo' class='mr-3 ml-3'>
      <input id='info-email' class='mt-3 form-control' type='email' name='email' value='{{ email }}'>
      <input id='info-name' class='mt-3 form-control' type='text' name='profilename' value='{{ name }}'>
      <input id='info-city' class='mt-3 form-control' type='text' name='city' value='{{ city }}'>
      <input id='info-dob' class='mt-3 form-control' type='date' name='email' value='{{ dob }}'>
      <input id='info-oldpwd' class='mt-3 form-control' type='password' name='pwd' placeholder='Old password'>
      <input id='info-pwd' class='mt-3 form-control' type='password' name='pwd' placeholder='Password'>
      <input id='info-checkpwd' class='mt-3 form-control' type='password' name='pwd' placeholder='Password'>
      <input id='submitinfo' class='mt-3 mx-auto' type='submit' name='submit' value='Change Infos'>
    </form>
  </div>

  <div class='card col-3 border-info mb-3'>
    <div class='card-header'>They follow you</div>
    <div class='card-body'>
      {% for follower in followers %}
        <p class='card-text'><a class='text-success' href='profile.php?account={{ follower.username }}'>@{{ follower.username }}</a></p>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src='js/url.js'></script>
  <script src='js/forms.js'></script>
  <script src='js/selfProfile.js'></script>
{% endblock %}
